.section {
  background: #ffffff;
  border-radius: 10px;
  padding: 30px;
  margin: 15px 0;
}

.section__icon {
  width: 32px;
  height: 32px;
}

.section__header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.section__title {
  font-size: 1.1em;
  font-weight: 500;
}

.section__title a {
  color: inherit;
}

.form {
  max-width: 500px;
}

.form__row {
  margin: 20px 0;
}

.form__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.form__footer--description {
  flex: 1;
  color: #8f8f8f;
  font-size: 0.8em;
}

.form__row--error .form__input {
  border-color: red;
}

.form__input {
  width: 100%;
  margin-bottom: 10px;
}

.form__error {
  color: red;
  padding: 0;
  margin: 0;
  font-size: 0.8em;
}

.resend_code {
  display: block;
  color: #8f8f8f;
  padding: 0;
  margin: 0;
  font-size: 0.8em;
}

.resend_code--disabled {
  display: none;
}
