.form__row {
  margin: 20px 0;
}

.form__error {
  display: block;
  color: red;
  padding: 2px 0;
  margin: 0;
  font-size: 0.8em;
}

.form__help_text {
  display: block;
  color: #aaa;
  padding: 2px 0;
  margin: 0;
  font-size: 0.8em;
  max-width: var(--field-width);
}
