{% extends "admin_panel/base.html" %}
{% load static %} 

{% block title %}Отправить документ на подпись{% endblock %} 

{% block head %}
<link rel="stylesheet" href="{% static "css/form.css" %}" />
<link rel="stylesheet" href="{% static "css/admin_panel/create_document_signing_request.css" %}" />
<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("id_document").addEventListener("change", (e) => {
            const documentContentElement = document.getElementById("id_document_content")
            var xhr = new XMLHttpRequest();
            const documentId = e.target.value
            xhr.open("GET", `{% url 'admin_panel_document' id=1%}`.replace(/1/, documentId), true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        const data = JSON.parse(xhr.responseText);
                        documentContentElement.value = data.template
                        documentContentElement.hidden = false
                    } else if (xhr.status === 404) {
                        documentContentElement.value = ""
                        documentContentElement.hidden = true
                    } else {
                        console.error("Error: ", xhr.status)
                    }
                }
            };
            xhr.send();
        })
    })
</script>
{% endblock %}

{% block content %}
<h1>Отправить документ на подпись</h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %} {% for field in form %}
  <p class="form__row">
    {{ field }} 
    <span class="form__help_text">{{ field.help_text }}</span>
    {% if field.errors %}
        <span class="form__error">{{ field.errors|striptags }}</span>
    {% endif %}
  </p>
  {% endfor %}
  <button type="submit">Отправить</button>
</form>
{% endblock %}
