{% extends "admin_panel/base.html" %} 
{% load static %} 

{% block head %}
<link rel="stylesheet" href="{% static "css/admin_panel/documents.css" %}" />
{% endblock %}

{% block title %}Список созданных документов{% endblock %} 

{% block content %}
<h1>Список созданных документов</h1>
<ul class="documents_list">
    {% for document in documents %}
        <li class="documents_list__item">
            <span class="documents_list__item--left">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="documents_list__item--icon">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
                </svg>
                <a href="{% url 'admin_panel_edit_document' id=document.id %}">{{ document.name }}</a></span>
            <span>{{ document.created_at|date:"d.m.Y H:i" }}</span>
        </li>
    {% endfor %}
</ul>
{% endblock %}
