{% extends "admin_panel/base.html" %} 

{% load static %} 

{% block head %}
    <link rel="stylesheet" href="{% static "css/admin_panel/signed_documents.css" %}" />
{% endblock %}

{% block title %}Список подписанных документов{% endblock %} 

{% block content %}
    <h1>Список подписанных документов</h1>
    <div class="documents-table__wrapper">
        <table class="documents-table">
            <tr>
                <th>Название документа</th>
                <th>Номер телефона</th>
                <th>Документ</th>
                <th>Время подписания</th>
                <th>Время создания</th>
            </tr>
            {% for document in documents %}
                <tr>
                    <td>{{ document.document.name }}</td>
                    <td>{{ document.phone_number }}</td>
                    <td> <a target="_blank" href="{{ document.document.file.url }}">Документ</a> </td>
                    <td>{{ document.signed_at|date:"d.m.Y H:i" }}</td>
                    <td>{{ document.created_at|date:"d.m.Y H:i" }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
